.home-container{
    padding: 0.2rem;
    height: 100vh;

    display: flex;
    flex-direction: column;
}
.map-container{
    flex: 1.3;
    height: 3rem;
}

#instructions {
    position: absolute;
    margin: 20px;
    width: 18rem;
    top: 0;
    bottom: 30rem;
    padding: 3rem;
    background-color: transparent;
    overflow-y: scroll;
    color: black;
    font-family: sans-serif;

}